
rename
------

call rename.sh wrapper for git repositories, it moves .git dir away,
performs all renames, moves .git dir back and creates commit::

  ./scripts/rename.sh \
    djangobaselibrary=yournewsupercoollibrary \
    django-base-library=your-new-super-cool-library \
    "Django Base Library=You New Super Cool Library"

each param is one rename pattern.

